body {
  font-family: "Arial";
  color: #555555;
  font-size: 14px;
  text-align:left;
 }
h1, h2, h3, h4, h5, h6 {
  color:black;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 24px;
}
header{
  background-color: lightgray;
  height: 15vh;
}
footer {
  font-size: 12px;
}
td:first-of-type {
  font-weight:bold;
    width:100px;
}


  thead {
    height: 40px;
    text-align: left;
  }


tbody>tr:hover {
  background-color: yellow;
  cursor:pointer;
}
hr {
  color:#ddd;

}
button {
  border-color: #8ABD28;
  border-style: ridge;
  border-radius: 29%;
  border-width: 30px;;
  background-color: #C8F279;
  height: 20px;
  float: right;
  color: darkblue;
  font-weight:bold;
}
img {
  float: left;
  width: 100px;
  padding-right:2px

}
.linkbox {
  background-color: #FEFFDB;
  border-color: #444;
  border-style: ridge;
  border-width:5px;
  width:550px;
  border-radius:20px;
  padding: 5px
}
#juice:hover {
  background-image:800px 400px;
  width:800px;
  height:400px;
  background-repeat:no-repeat;
  background-image: url("oj.jpg");
}
